/* ==========================
   LOZADA ERP LOGIN CSS
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:linear-gradient(135deg,#0F172A,#1E3A8A);

    min-height:100vh;

}

.login-wrapper{

    display:grid;

    grid-template-columns:55% 45%;

    min-height:100vh;

}

/* LEFT */

.login-left{

    display:flex;

    justify-content:center;

    align-items:center;

    padding:60px;

    color:#fff;

}

.brand{

    max-width:550px;

}

.logo{

    width:120px;

    height:120px;

    background:#F59E0B;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:30px;

}

.logo i{

    font-size:55px;

    color:white;

}

.brand h1{

    font-size:55px;

    font-weight:700;

}

.brand h5{

    margin-top:10px;

    font-weight:400;

    opacity:.9;

}

.brand p{

    margin-top:30px;

    line-height:30px;

    opacity:.8;

}

.features{

    margin-top:40px;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}

.features div{

    background:rgba(255,255,255,.08);

    padding:18px;

    border-radius:12px;

}

.features i{

    color:#F59E0B;

    margin-right:10px;

}

/* RIGHT */

.login-right{

    display:flex;

    justify-content:center;

    align-items:center;

    background:#fff;

}

.login-card{

    width:430px;

    background:white;

    padding:45px;

    border-radius:20px;

    box-shadow:0 20px 60px rgba(0,0,0,.15);

}

.login-card h2{

    font-weight:700;

}

.login-card p{

    color:#777;

    margin-bottom:30px;

}

.form-label{

    font-weight:600;

}

.input-group-text{

    background:#F8FAFC;

}

.form-control{

    height:55px;

}

.form-control:focus{

    box-shadow:none;

    border-color:#1E3A8A;

}

.btn-primary{

    background:#1E3A8A;

    border:none;

    height:55px;

    font-weight:600;

}

.btn-primary:hover{

    background:#F59E0B;

}

a{

    text-decoration:none;

}

/* MOBILE */

@media(max-width:991px){

.login-wrapper{

grid-template-columns:1fr;

}

.login-left{

display:none;

}

.login-card{

width:95%;

margin:25px;

}

}
