<!-- ==========================================
     KITCHEN HEADER
========================================== -->

<div class="card shadow-sm border-0 mb-4">

    <div class="card-body">

        <div class="row align-items-center">

            <div class="col-lg-4">

                <h2 class="fw-bold mb-1">

                    <i class="fa-solid fa-kitchen-set text-danger"></i>

                    Kitchen Display

                </h2>

                <small class="text-muted">

                    Live Kitchen Orders

                </small>

            </div>

            <div class="col-lg-2">

                <div class="card border-warning">

                    <div class="card-body text-center">

                        <small>Pending</small>

                        <h3 id="kitchenPending">0</h3>

                    </div>

                </div>

            </div>

            <div class="col-lg-2">

                <div class="card border-primary">

                    <div class="card-body text-center">

                        <small>Preparing</small>

                        <h3 id="kitchenPreparing">0</h3>

                    </div>

                </div>

            </div>

            <div class="col-lg-2">

                <div class="card border-success">

                    <div class="card-body text-center">

                        <small>Ready</small>

                        <h3 id="kitchenReady">0</h3>

                    </div>

                </div>

            </div>

            <div class="col-lg-2">

                <div class="card border-dark">

                    <div class="card-body text-center">

                        <small>Current Time</small>

                        <h6 id="kitchenClock">--:--:--</h6>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
