<header class="topbar">

    <div class="top-left">

        <button class="menu-btn">

            <i class="fa-solid fa-bars"></i>

        </button>

        <div>

            <h3>Dashboard</h3>

            <small>Restaurant Management System</small>

        </div>

    </div>

    <div class="top-center">

        <div class="search-box">

            <i class="fa-solid fa-search"></i>

            <input
                type="text"
                placeholder="Search...">

        </div>

    </div>

    <div class="top-right">

        <button class="icon-btn">

            <i class="fa-regular fa-bell"></i>

            <span class="badge-count">5</span>

        </button>

        <button class="icon-btn">

            <i class="fa-regular fa-envelope"></i>

            <span class="badge-count">2</span>

        </button>

        <div class="profile">

            <img src="https://ui-avatars.com/api/?name=Admin&background=1E3A8A&color=ffffff">

            <div>

                <strong>John Admin</strong>

                <small>Super Administrator</small>

            </div>

        </div>

    </div>

</header>

<section class="page-title">

    <h2>Restaurant Dashboard</h2>

    <p>Welcome to LOZADA ERP Restaurant Management System</p>

</section>
