<!-- ==========================================
     POS CATEGORIES
========================================== -->

<section class="pos-categories">

    <button class="category-btn active">
        <i class="fa-solid fa-border-all"></i>
        <span>All</span>
    </button>

    <button class="category-btn">
        <i class="fa-solid fa-bowl-food"></i>
        <span>Main Course</span>
    </button>

    <button class="category-btn">
        <i class="fa-solid fa-burger"></i>
        <span>Snacks</span>
    </button>

    <button class="category-btn">
        <i class="fa-solid fa-mug-hot"></i>
        <span>Coffee</span>
    </button>

    <button class="category-btn">
        <i class="fa-solid fa-glass-water"></i>
        <span>Beverages</span>
    </button>

    <button class="category-btn">
        <i class="fa-solid fa-ice-cream"></i>
        <span>Desserts</span>
    </button>

    <button class="category-btn">
        <i class="fa-solid fa-box"></i>
        <span>Others</span>
    </button>

</section>
