<!-- ==========================
     SHOPPING CART
========================== -->

<div class="cart-container">

    <div class="cart-header">

        <h4>
            <i class="fa-solid fa-cart-shopping"></i>
            Shopping Cart
        </h4>

        <span id="cartCount">0 Item(s)</span>

    </div>

    <div id="cartItems">

        <div class="empty-cart">

            Cart is Empty

        </div>

    </div>

    <hr>

    <div class="cart-total">

        <div>

            <span>Subtotal</span>

            <strong id="subtotal">₱0.00</strong>

        </div>

        <div>

            <span>VAT (12%)</span>

            <strong id="vat">₱0.00</strong>

        </div>

        <div class="grand">

            <span>Total</span>

            <strong id="grandTotal">₱0.00</strong>

        </div>

    </div>

</div>
