<div class="card shadow-sm">

    <div class="card-header bg-success text-white d-flex justify-content-between">

        <h5>

            <i class="fa-solid fa-box"></i>

            Product Master List

        </h5>

        <input
            type="text"
            id="searchProduct"
            class="form-control w-25"
            placeholder="Search Product">

    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered table-hover align-middle">

                <thead class="table-dark">

                    <tr>

                        <th>Code</th>

                        <th>Category</th>

                        <th>Product</th>

                        <th>Price</th>

                        <th>Status</th>

                        <th>Action</th>

                    </tr>

                </thead>

                <tbody id="productTableBody">

                    <tr>

                        <td colspan="6" class="text-center text-muted">

                            No Products Found

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>
