<aside class="sidebar">

    <div class="logo">

        <img src="../assets/logo.png" alt="Logo">

        <div>
            <h2>LOZADA ERP</h2>
            <small>Restaurant System</small>
        </div>

    </div>

    <ul class="menu">

        <li><a href="dashboard.html"><i class="fa-solid fa-house"></i> Dashboard</a></li>

        <li><a href="receiving-orders.html"><i class="fa-solid fa-mobile-screen-button"></i> Online Orders</a></li>

        <li><a href="tables.html"><i class="fa-solid fa-table-cells-large"></i> Table Management</a></li>

        <li><a href="pos.html"><i class="fa-solid fa-cash-register"></i> POS</a></li>

        <li><a href="kitchen.html"><i class="fa-solid fa-kitchen-set"></i> Kitchen Display</a></li>

        <li><a href="products.html"><i class="fa-solid fa-burger"></i> Products</a></li>

        <li><a href="inventory.html"><i class="fa-solid fa-boxes-stacked"></i> Inventory</a></li>

        <li><a href="sales.html"><i class="fa-solid fa-chart-line"></i> Sales</a></li>

        <li><a href="reports.html"><i class="fa-solid fa-file-lines"></i> Reports</a></li>

        <li><a href="settings.html"><i class="fa-solid fa-gear"></i> Settings</a></li>

    </ul>

</aside>
