<aside class="sidebar">

    <div class="sidebar-logo">

        <img src="../assets/logo.png" alt="Logo">

        <div>

            <h2>LOZADA ERP</h2>

            <small>Restaurant Management</small>

        </div>

    </div>

    <ul class="sidebar-menu">

        <li class="active">
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
        </li>

        <li>
            <i class="fa-solid fa-mobile-screen"></i>
            <span>Online Orders</span>
        </li>

        <li>
            <i class="fa-solid fa-cash-register"></i>
            <span>POS</span>
        </li>

        <li>
            <i class="fa-solid fa-table-cells"></i>
            <span>Tables</span>
        </li>

        <li>
            <i class="fa-solid fa-kitchen-set"></i>
            <span>Kitchen</span>
        </li>

        <li>
            <i class="fa-solid fa-boxes-stacked"></i>
            <span>Inventory</span>
        </li>

        <li>
            <i class="fa-solid fa-chart-column"></i>
            <span>Reports</span>
        </li>

        <li>
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
        </li>

    </ul>

</aside>
