<!-- ==========================================
     FLOOR TABS
========================================== -->

<div class="card shadow-sm border-0">

    <div class="card-body">

        <ul class="nav nav-pills mb-4" id="floorTabs">

            <li class="nav-item">

                <button
                class="nav-link active floor-tab"
                data-floor="Rooftop">

                    <i class="fa-solid fa-building"></i>

                    Rooftop

                    <span class="badge bg-light text-dark ms-2">

                        20

                    </span>

                </button>

            </li>

            <li class="nav-item ms-2">

                <button
                class="nav-link floor-tab"
                data-floor="Main Dining">

                    <i class="fa-solid fa-utensils"></i>

                    Main Dining

                    <span class="badge bg-light text-dark ms-2">

                        15

                    </span>

                </button>

            </li>

            <li class="nav-item ms-2">

                <button
                class="nav-link floor-tab"
                data-floor="Basement">

                    <i class="fa-solid fa-warehouse"></i>

                    Basement

                    <span class="badge bg-light text-dark ms-2">

                        20

                    </span>

                </button>

            </li>

           <li class="nav-item ms-2">

   <button
class="nav-link floor-tab"
data-floor="VIP Room">

    <i class="fa-solid fa-crown"></i>

    VIP Room

    <span class="badge bg-light text-dark ms-2">

        4

    </span>

</button>

</li>

<li class="nav-item ms-2">

    <button
    class="nav-link floor-tab"
    data-floor="Take Out">

        <i class="fa-solid fa-bag-shopping"></i>

        Take Out

        <span class="badge bg-light text-dark ms-2">

            10

        </span>

    </button>

</li>

<li class="nav-item ms-2">

    <button
    class="nav-link floor-tab"
    data-floor="Delivery">

        <i class="fa-solid fa-motorcycle"></i>

        Delivery

        <span class="badge bg-light text-dark ms-2">

            10

        </span>

    </button>

</li>
        </ul>

        <!-- TABLES WILL LOAD HERE -->

        <div
        class="row g-3"
        id="tablesGrid">

        </div>

    </div>

</div>
