<div class="sidebar">

    <div class="logo">

        <i class="fa-solid fa-utensils"></i>

        <h2>LOZADA ERP</h2>

    </div>

    <ul class="menu">

        <li>
            <a href="#">
                <i class="fa-solid fa-house"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-cash-register"></i>
                <span>POS</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-utensils"></i>
                <span>Kitchen</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-box"></i>
                <span>Inventory</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-truck"></i>
                <span>Suppliers</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-users"></i>
                <span>Customers</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-user-group"></i>
                <span>HR</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-money-check-dollar"></i>
                <span>Payroll</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-chart-line"></i>
                <span>Accounting</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-chart-pie"></i>
                <span>Reports</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-gear"></i>
                <span>Settings</span>
            </a>
        </li>

    </ul>

</div>
